/* Custom CSS */

::selection {
  background: cyan;
  color: #111;
}

:root {
  --c-bg: hsl(0, 0%, 90%);
  --c-text: hsl(0, 0%, 10%);
  --pad: max(20px, 4vmin);
  --text-pad: max(30px, 8vmin);
}

html,
body {
  height: 100%;
}

html {
  line-height: 1;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--c-bg);
  font-family: "Press Start 2P", monospace;
  font-weight: 600;
  font-size: 14px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow: hidden;
}

input {
  font-family: "Press Start 2P", monospace;
}

.data-layer {
  margin: var(--text-pad);
  color: rgba(255, 255, 255, 0.1);
  font-size: 28px;
  line-height: 40px;
  position: fixed;
  top: 35%;
  left: 20px;
  z-index: -1;
}

/* Settings */
@media screen and (min-width: 910px) {
  .header {
    height: 60px;
  }
  .header-clear {
    padding-top: 60px;
  }
  .inline-nav > li > a,
  .shortcuts a,
  .store-name {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
  }
  .inline-nav-visible .sub-nav-wrapper .icon-dropdown {
    height: 60px;
  }
  .inline-nav-visible .sub-nav {
    top: 50px;
  }
  .logo-img {
    height: 40px;
  }
}
@media screen and (min-width: 910px) {
  .logo-img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
body {
}

h1,
h2,
h3 {
  font-family: "Press Start 2P", monospace;
}

.product-page .product-details .release-title {
  font-family: "Press Start 2P", monospace;
}

html,
body {
  font-size: 12px;
}

button,
.button,
input.button,
.action-button,
input.action-button,
.button-secondary,
input.button-secondary,
.variant-radio-list input[type="radio"] + label {
  border-radius: 1px;
}

@media screen and (min-width: 910px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-user-select: inherit;
  user-select: inherit;
  -webkit-user-drag: inherit;
  -webkit-tap-highlight-color: inherit;
  backface-visibility: inherit;
}

* {
  margin: 0;
  padding: 0;
}

main,
canvas {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: hsl(0, 0%, 5%);
    --c-text: hsl(0, 0%, 95%);
  }
}

.frame {
  position: fixed;
  z-index: 10;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  mix-blend-mode: difference;
  pointer-events: none;
}

.frame_line {
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
}

.frame_line-left {
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame_line-right {
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
}

.frame_line-top {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
}

.frame_line-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.p5canvas {
  margin: var(--pad);
  opacity: 0.5;
}

.my-name {
  color: white;
  font-family: "Cairo", monospace;
  font-size: 45px;
  position: absolute;
  top: var(--text-pad);
  left: var(--text-pad);
  z-index: 1;
}
